<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title..." name="title">
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Content:</label>
    <input type="text" class="form-control" id="body" placeholder="Enter post content..." name="body">
  </div>
   <div class="mb-3 mt-3">
      <label for="comment">Comments:</label>
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
  <button type="submit" class="btn btn-primary"> + Post!</button>
</form>