<div class="container">
<div class="col-md-12">
    <h1 class="text-center">Create a new post</h1>
  </div>
<form class="new-post-form">
  <div class="form-outline mb-4">
    <label class="form-label" for="postTitle">Title</label>
    <input type="title" id="post-title" class="form-control" />
  </div>


  <div class="form-outline mb-4">
    <label class="form-label" for="postBody">Write something...</label>
    <textarea class="form-control" id="post-body" rows="4"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Create!</button>
</form>
</div>
</div>
    
<script src="/js/new-post.js"></script>
